.header {
  background-color: #f5f3f3;
  &__container {
    display: flex;
    align-items: center;
    height: 100px;
  }

  &__form {
    margin-right: auto;
  }

  &__input {
    @include reset-input();
    background-color: #fff;
    height: 50px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 0.3s ease;
    outline: 2px dashed transparent;
    outline-offset: 3px;
    &:focus {
      outline-color: #224bff;
    }
  }

  &__user-info {
    display: flex;
    align-items: center;
    font-size: 20px;
  }

  &__user-name {
    margin-right: 10px;
  }

  &__user-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 60px;
    width: 60px;
    flex: 0 0 60px;
    height: 60px;
    border-radius: 50%;

    background-color: #929292;
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
}
