$rootClass: ".sidebar";

.sidebar {
  position: relative;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 -1px 15px 2px rgb(0 0 0 / 25%);

  transition: all 0.3s ease;
  width: 60px;
  overflow: hidden;
  z-index: 10;
  &:hover,
  &:focus-within {
    width: 170px;
    #{$rootClass}__logo-link-text {
      max-width: 100%;
      opacity: 1;
      visibility: visible;
    }
    #{$rootClass}__item-text {
      max-width: 100%;
      opacity: 1;
      visibility: visible;
    }
  }
  &__container {
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    padding: 35px 0;
  }

  &__logo-link {
    position: relative;
    display: flex;
    align-items: center;

    margin-bottom: 30px;
    align-items: center;
    text-decoration: none;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 140px;
    }
  }

  &__logo-img-wrapper {
  }

  &__logo-link-text {
    position: absolute;

    top: 50%;
    left: 40px;
    transform: translateY(-50%);

    display: block;
    margin-left: 15px;

    text-transform: uppercase;
    font-weight: 600;

    max-width: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }

  &__item {
    position: relative;

    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 140px;
    }
  }

  &__item-icon {
    fill: #224bff;
    color: #224bff;
    font-size: 24px;
  }

  &__item-text {
    position: absolute;

    top: calc(50% + 2px);
    left: 40px;
    transform: translateY(-50%);

    display: block;
    color: #333;

    max-width: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
}
