html,
body,
input,
input::placeholder,
textarea,
textarea::placeholder,
button {
  font-family: "ProximaNova", "sans-serif";
}

html {
  line-height: 1.35;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  width: 100%;
  min-width: 375px;
  overflow-y: hidden;
}

html,
body,
input,
input::placeholder,
textarea,
textarea::placeholder,
button {
  font-family: "ProximaNova", "sans-serif";
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
input,
input::placeholder,
textarea,
textarea::placeholder,
button,
span,
div {
  font-family: "ProximaNova", "sans-serif";
}

img {
  display: block;
  max-width: 100%;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  @include media("<=991px") {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.site-area {
  &__container {
    display: flex;
    height: 100vh;
  }
  &__content {
    flex: 1 1 auto;
    display: grid;
    grid-template-areas:
      "header"
      "filter"
      "scrollContent";
  }
  &__scroll-content {
    grid-area: scrollContent;
    overflow-y: scroll;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
